<ngu-carousel
  #landingBanners
  [inputs]="carouselTileConfig"
  [dataSource]="bannerItems"
>
  <ngu-item *nguCarouselDef="let banner; let j = index" class="bannerStyle">
    <a href="{{ banner.link_url }}">
      <img
        src="{{ banner.image_link }}"
        alt=""
        style="display: block; width: 100%;"
      />
    </a>
  </ngu-item>
  <button NguCarouselPrev class="leftRs d-none d-sm-block"></button>
  <button NguCarouselNext class="rightRs d-none d-sm-block"></button>
  <ul class="ngucarouselPoint" NguCarouselPoint>
    <li
      *ngFor="let k of landingBanners.pointNumbers; let l = index"
      [class.active]="k == landingBanners.activePoint"
      (click)="landingBanners.moveTo(k)"
    ></li>
  </ul>
</ngu-carousel>
